<div class="control-group">
   <%- form.label("title", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("title") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("body", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("body") %>
   </div>
</div>
<div class="control-group">
   <%- form.label("author", false, {class: "control-label"}) %>
   <div class="controls">
       <%- form.input("author") %>
   </div>
</div>
